*{
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
	position: relative;
	overflow: hidden;
	height: 100vh;
line-height: 1.4;
background:linear-gradient(rgba(253, 240, 207, 1), rgba(1, 196, 251, 1),
  rgba(2, 75, 133, 1), rgba(18, 18, 18, 1));
}
/* Große Überschrift OcrB, kleinere Überschrift VCR OSD Mono,
Textschrift DM Sans*/

}
h1{
  font-family: OcrB;
  font-size: 5em;
  /*letter-spacing: -0.04em;
  padding: 0.3em 0 0.3em 0;
  line-height: 0.8;*/

}

img{
  width:1920 px;
  height: 1080 px;
}
