*/*{
  margin: 0;
  padding: 0;/
  height: 100%;
  text-rendering: optimizeLegibility;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
*/
body {
	/*position: relative;
	overflow: hidden;
	height: 100vh;
line-height: 1.4;
}
/* Große Überschrift OcrB, kleinere Überschrift VCR OSD Mono,
Textschrift DM Sans*/
/*
}
h1{
  font-family: OcrB;
  font-size: 5em;
  /*letter-spacing: -0.04em;
  padding: 0.3em 0 0.3em 0;
  line-height: 0.8;*/
    background-image: linear-gradient(rgba(253, 240, 207, 1), rgba(1, 196, 251, 1),
      rgba(2, 75, 133, 1), rgba(18, 18, 18, 1));
}

h2{
  font-family:VCR OSD mono;
  font-size: 75 px;
  color:white;
}

p{
  font-family: Dm sans;
  color: white;
}

p.Begin{
 font-family: ocr-b-std, monospace;
 font-style: normal;
 font-weight: 400;
}

h3{
  font-family: VCR OSD mono;
}
